.custom-background {
  background-color: #212529;
}

.head {
  margin-top: 20px;
}

h1, h2, h3 {
  color: #fff !important;
  font-family: 'Rubik', sans-serif !important;
}

h1 {
  font-weight: 300 !important;
}

h3 {
  font-weight: 100 !important;
  font-size: 1.5em !important;
}

.red {
  color: red;
}

h5 {
  font-size: 1em;
  color: #fff !important;
  font-weight: 500 !important;
}

p {
  font-weight: 300;
}

.data-title {
  font-size: 1.2em;
  color: #ffffffb5;
  margin: 0;
  font-family: 'Rubik', sans-serif !important;
  margin-top: 20px;
}

.data-number {
  font-size: 4em;
  color: #fff;
  font-weight: 300;
  font-family: 'Rubik', sans-serif !important;
  margin: 0;
  line-height: 1;
}

.data {
  margin-top: 30px;
  border-bottom: 1px solid #ffffff2e;
  padding: 10px 0 30px 0;
  border-top: 1px solid #ffffff2e;
}

.percentage {
  font-size: 0.75em;
}

hr .solid {
  border-top: 1px solid #fff;
}

.badge {
  font-size: .8em;
  font-weight: 700;
}

.badge-warning {
  color: #212529;
}

.aggiornamenti {
  font-family: 'Rubik', sans-serif;
  color: #ffffffb5;
  font-size: 1em;
}

.content {
  margin-top: 60px;
}

.modal-body p, h5 {
  color: #000;
  font-family: 'Rubik', sans-serif !important;
}

th {
  font-family: 'Rubik', sans-serif !important;
  font-size: 14px;
}

td {
  font-family: 'Rubik', sans-serif !important;
  font-size: 14px;
  font-weight: 300;
}

.header {
  position: sticky;
  top: 0;
  background-color: #212529;
}

a {
  color: #fff !important;
}

a:hover {
  color: cyan !important;
}

.bi::before {
  display: inline-block;
  content: "";
  background-image: url("data:image/svg+xml,<svg viewBox='0 0 16 16' fill='%23333' xmlns='http://www.w3.org/2000/svg'><path fill-rule='evenodd' d='M8 9.5a1.5 1.5 0 1 0 0-3 1.5 1.5 0 0 0 0 3z' clip-rule='evenodd'/></svg>");
  background-repeat: no-repeat;
  background-size: 1rem 1rem;
}

btn-outline-light {
  font: 'Rubik', sans-serif !important;
}

.flourish-credit {
  display: none !important;
}

#alert {
  font-size: 15px !important;
  font-weight: 300;
}

#trend {
  font-size: 0.9em;
  color: rgb(169,169,169);
  margin-bottom: 10px;
}

#footer {
  margin-bottom: 40px;
  font-size: 14px;
  color: #9f9f9f !important;
  font-weight: 300;
  margin-top: 40px;
}

#fb-icon {
  font-size: 2em;
  color: #9f9f9f !important;
}

@media (max-width: 575.98px) {
  h1 {
    font-size: 1.8em !important;
    margin-bottom: 20px !important;
  }

  .table td, .table th {
    padding: .75rem .5rem .75rem .5rem;
  }

  .nome-comune {
    width: 150px;
  }

  .data-title {
    font-size: 0.9em;
  }

  .data-number {
    font-size: 2.8em;
  }

  .percentage {
    font-size: 0.5em;
  }

  .positivi{
    width:100px;
  }
}
